{if $a}{$a}{/if}{if $b}{$b}{/if}
{foreach $items as $item}{$item}{/foreach}{foreach $others as $other}{$other}{/foreach}
<span n:if="$a">a</span><span n:if="$b">b</span>
{$a}{$b}{$c}
{* one *}{* two *}
