{* a comment with a closing brace } inside *}
{* a comment with an opening brace { inside *}
{* a comment with a nested-looking {* sequence *}
<p>after the comment</p>
{*
	{if $a}
		this is inert
	{/if}
*}
<p>{$title}{* trailing comment *}</p>
