<p>Text that isn't a tag and doesn't need escaping.</p>
<p>An ampersand &amp; an entity &nbsp; and a raw & sign.</p>
<p>A lone brace { in text and a closing one } too.</p>
<p>A dollar sign $ that starts nothing.</p>
<p>A percent 50% and a hash #tag.</p>
<p>{$title} isn't the only thing here.</p>
