{* a single line comment *}
<p>text</p>
{*
	a comment
	spanning several lines
*}
{* a comment containing {$variable} and {if $a}{/if} *}
{* a comment containing "quotes" and 'apostrophes' *}
<!-- an ordinary HTML comment -->
