{form articleForm}
	{label title}Title{/label}
	{input title}
	{inputError title}
	{formContainer address}
		{input street}
		{label street /}
	{/formContainer}
	{input send}
{/form}
{formPrint articleForm}
