<p>{_'a translated string'}</p>
<p>{_ 'a translated string'}</p>
<p>{_ $message}</p>
<p>{_ 'count', $count}</p>
{translate}an inline translated body{/translate}
{translate 'domain'}another body{/translate}
