.DS_Store
*.iml
local.properties
/src/main/gen
/.idea
/.kotlin
/.intellijPlatform
/.gradle
/build
/out
/.latte-src/

# Sandbox IDE settings created when the playground project is opened
/sandbox/playground/.idea/
