<p>{$a + $b}</p>
<p>{$a - $b}</p>
<p>{$a * $b}</p>
<p>{$a / $b}</p>
<p>{$a % $b}</p>
<p>{$a ** 2}</p>
<p>{-$a}</p>
<p>{$a . '-' . $b}</p>
<p n:if="$a == $b">eq</p>
<p n:if="$a === $b">identical</p>
<p n:if="$a != $b">ne</p>
<p n:if="$a !== $b">not identical</p>
<p n:if="$a < $b && $b <= $c">lt</p>
<p n:if="$a > $b || $b >= $c">gt</p>
<p n:if="$a and $b or $c">words</p>
<p n:if="!$a">not</p>
<p>{$a <=> $b}</p>
<p>{$a & $b}</p>
