{*
	The layout the templates in this directory name with {layout}. Nothing in this
	file may be underlined.
*}
<!DOCTYPE html>
<html>
<head>
	<title>{block title}Lorem ipsum{/block}</title>
</head>
<body>
	{block header}{/block}
	{block content}{/block}
</body>
</html>
