{*
	Labels bound with n:label to single items of a radio list, each holding the
	{input} of that item. Nothing in this file may be underlined.
*}
{form articleForm}
	<fieldset>
		<label n:label="state:draft">{input state:draft} Lorem</label>
		<label n:label="state:archived">{input state:archived} Ipsum</label>
	</fieldset>
{/form}
