{*
	n:name on a form element, a select and a button. Nothing in this file may be
	underlined.
*}
<form n:name="articleForm">
	<select n:name="state"></select>
	<button n:name="send">Lorem</button>
</form>
