{*
	An address in src printed through |nocheck, and a class constant printed through
	|lower. Nothing in this file may be underlined.
*}
{varType string $preview}
<figure>
	<iframe src="{$preview|nocheck}" title="{App\Model\Article::STATE_REVIEW|lower}"></iframe>
</figure>
