{*
	A snippet around a form with HTML attributes, and inputs with attributes
	written both quoted and bare. Nothing in this file may be underlined.
*}
{snippet searchForm}
    {form articleForm, class => "form-inline ajax"}
        {input title, class => form-control}
        {input send, class => "button button-primary"}
    {/form}
{/snippet}
