{*
	The translation tag given a variable inside a loop, a string literal and a
	function call. Nothing in this file may be underlined.
*}
{varType string[] $keys}
<ul><li n:foreach="$keys as $key">{_$key}</li></ul>
<p>{_'Lorem ipsum'} &middot; {_strtoupper('dolor')}</p>
