<p>{$title|upper}</p>
<p>{$title|lower}</p>
<p>{$title|firstUpper}</p>
<p>{$title|capitalize}</p>
<p>{$title|trim}</p>
<p>{$body|stripHtml}</p>
<p>{$body|stripTags}</p>
<p>{$body|striptags}</p>
<p>{$body|striphtml}</p>
<p>{$body|noescape}</p>
<p>{$body|escapeHtml}</p>
<p>{$body|escapeJs}</p>
<p>{$body|escapeCss}</p>
<p>{$body|escapeUrl}</p>
<p>{$body|escapeXml}</p>
<p>{$body|escapeICal}</p>
<p>{$body|escapeHtmlComment}</p>
<p>{$body|breakLines}</p>
<p>{$body|breaklines}</p>
<p>{$body|spaceless}</p>
<p>{$body|strip}</p>
<p>{$body|webalize}</p>
<p>{$size|bytes}</p>
<p>{$value|ceil}</p>
<p>{$value|floor}</p>
<p>{$items|length}</p>
<p>{$items|first}</p>
<p>{$items|last}</p>
<p>{$items|reverse}</p>
<p>{$items|sort}</p>
<p>{$url|checkUrl}</p>
<p>{$image|dataStream}</p>
<p>{$image|datastream}</p>
